*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title-list{
    margin: 1rem 3rem;
    font-size: 35px;
}

.loading{
    margin: 1rem 3rem;
    color: coral;
    font-size: 30px;
}

.email-list{
    margin: 1rem 3rem;
    color: dodgerblue;
    font-size: 25px;
}

